<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/">Home</a>
    <a href="/authors">Authors</a>
    <a href="/authors/new">New Author</a> -- <a href="/authors/show/<%= author.id %>/edit">Edit author</a> <a href="/authors/<%= author.id %>"><form action="/authors/<%= author.id %>" method="POST"><input type="hidden" name="_method" value="DELETE"><button>Delete Author</button></form></a>
    <hr />
    <h4><span style="text-decoration:underline"><%= author.user_name %>'s Info</span></h4>
    <p><%= author.picture %>
       <%= author.bio %>
    </p>
    <h4>Authored Missives</h4>
    <ul>
      <% initmissives.each do |init| %>
      <li><a href="/missives/show/<%= init.id %>"><%= init.title %></a>
      <% end %>
    </ul>
    <h4> Edited Missives </h4>
    <ul>
    <% editmissives.each do |edit| %>
    <li><a href="/missives/show/<%= edit.id %>"><%= edit.title %></a>
    <% end %>
    </ul>
    </div>
  </body>
</html>
