<html>
  <head>
    <title>Ivalice Wiki</title>
  </head>
  <body>
    <div id="wrapper">
    <h1>The world of Eternia</h1>
    <p><span style="font-style:italic">A wiki about the land of Eternia</span></p>
    <hr />
    <a href="/">Home</a>
    <a href="/authors">Authors</a>
    <a href="/authors/new">New Author</a> -- <a href="/authors/show/<%= author.id %>/edit">Edit author</a> <a href="/authors/<%= author.id %>"><form action="/authors/<%= author.id %>" method="POST"><input type="hidden" name="_method" value="DELETE"><button>Delete Author</button></form></a>
    <hr />
    <h4><span style="text-decoration:underline"><%= author.user_name %>'s Info</span></h4>
    <p><%= author.picture %>
       <%= author.bio %>
    </p>
    </div>
  </body>
</html>
